<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h5>Total cotizaciones</h5>
                        <h3 class="total" style="color: #58D68D;">10</h3>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h5>Total contratos</h5>
                        <h3 class="total" style="color: #F4D03F;">10</h3>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h5>Total cotizaciones</h5>
                        <h3 class="total" style="color: #3498DB;">10</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-grap">
                    <div class="pie"></div>
                </div>
                <div class="container-grap">
                    Un diagrama de tabla
                </div>
            </div>
        </div>
    </body>
</html>
