<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
              integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
              integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/23412c6a8d.js"></script>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/toastr.css">
    </head>

    <body>
        <div class="container">
            <div class="panel">
                <div class="row">
                    <div class="col liquid">
                        <h4><i class="fas fa-drafting-compass"></i> Empresa xyz</h4>

                        <!-- Owl-Carousel -->

                        <div class="owl-carousel owl-theme">
                            <img src="/img/undraw_authentication_fsn5.svg" class="login_img">
                            <img src="/img/undraw_authentication_fsn5.svg" alt="" class="login_img">
                            <img src="/img/undraw_personal_data_29co.svg" alt="" class="login_img">

                        </div>

                        <!-- /Owl-Carousel -->


                    </div>
                    <div class="col login">

                        <!-- 
                       <button type="button" class="btn btn-signup">Sign Up</button>
                        -->
                        <form id="form">
                            <div class="titles">
                                <h3>Iniciar sesión</h3>
                            </div>
                            <div class="form-group">
                                <input type="text" id="user" placeholder="Correo" name="username" class="form-input" required>
                                <div class="input-icon">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" id="pswd" placeholder="Contraseña" name="password" class="form-input" required >
                                <div class="input-icon">
                                    <i class="fas fa-user-lock"></i>
                                </div>
                            </div>

                            <button type="submit" id= "btn-h" class="btn btn-login" >Iniciar sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
        <script src="./js/toastr.min.js"></script>
        <script>
            $(document).ready(function () {

                $('.owl-carousel').owlCarousel({
                    loop: true,
                    autoplay: true,
                    autoplayTimeout: 2000,
                    autoplayHoverPause: true,
                    items: 1
                });
            });
            $('#btn-h').on('click', function (e) {
                e.preventDefault();
                var json = {username: $('#user').val(), password: $('#pswd').val()};
                $.ajax("/vendors/login", {
                    type: "POST",
                    data: JSON.stringify(json),
                    contentType: "application/json",
                    success: function (res) {
                        if(!res){
                            toastr.warning("Las credenciales ingresadas no son correctas", "EmpresaXYZ");
                        }else{
                            localStorage.setItem('session', JSON.stringify({id: res.id, nombre: res.nombre}));
                            window.location = '/dashboard';
                        }
                    },
                    error: function (error) {
                        toastr.error(error, "EmpresaXYZ");
                    }
                });
            });
        </script>
    </body>
</html>