<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
        <title>Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="container-add">
                <button class="btn-add bx bx-plus" title="Agregar"></button>
            </div>
            <div>
                <i class='bx bx-search-alt'></i>
                <input id="search" type="text">
            </div>
            <table id="grid-producto" class="table">
                <thead>
                    <tr>
                        <th data-column-id="nombre">Nombre</th>
                        <th data-column-id="valor">Valor</th>
                        <th data-colum-id="cantidad">Cantidad</th>
                        <th data-colum-id="categoria">Categoria</th>
                        <th data-formatter="edit">Editar</th>
                        <th data-formatter="delete">Eliminar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="modal fade" id="modalPro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registro productos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Codigo</label>
                                        <input type="text" class="my-form-control" id="cod">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="my-form-control" id="nombre">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input type="text" class="my-form-control" id="valor">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input type="text" class="my-form-control" id="cantidad">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <input type="text" class="my-form-control" id="categoria">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Promocion</label>
                                        <input type="text" class="my-form-control" id="promocion">
                                    </div>
                                    <a href="producto.html"></a>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="btnSavePro" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="./js/producto.js"></script>
        </div>
    </body>
</html>
