<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
        <title>Vendedores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="container-add">
                <button class="btn-add bx bx-plus" title="Agregar"></button>
            </div>
            <table id="grid-vendedores" class="table">
                <thead>
                    <tr>
                        <th data-column-id="nombre">Nombre</th>
                        <th data-column-id="apellido">Apellido</th>
                        <th data-colum-id="indetificacion">Identificacion</th>
                        <th data-column-id="telefono">Telefono</th>
                        <th data-formatter="edit">Editar</th>
                        <th data-formatter="delete">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr class="empty">
                        <td colspan="6">No hay datos para mostrar</td>
                    </tr>-->
                </tbody>
            </table>
            <div class="modal fade" id="modalVende" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registro Vendedores</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" id="nombre">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input type="text" class="form-control" id="apellido">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Identificacion</label>
                                        <input type="text" class="form-control" id="iden">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Fecha nacimiento</label>
                                        <input type="date" class="form-control" id="fecha_naci">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <input type="text" class="form-control" id="direc">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input type="text" class="form-control" id="telefono">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="btnSave" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="./js/vendedores.js"></script>
        </div>
    </body>
</html>
